
.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    width: 125px;
    height: 50px;
    border-radius: 6px;
}